extends layout 

block content
h1 Create an Account
    p Username
        input(type="text" name="username")
    p Password
        input(type="text" name='password')
    p Email 
        input(type="text" name='email')
    p Age 
        input(type="text" name='age')
    